@mixin button() {
  appearance: none;
  background-color: #eee;
  border-color: #888;
  border-style: solid;
  border-width: var(--border-width, 0.125rem);
  color: #333;
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  vertical-align: middle;

  svg {
    vertical-align: top;
  }

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &:hover,
  &:focus-visible {
    background-color: #f8f8f8;
    border-color: #555;
    color: #000;
  }

  &:focus-visible {
    outline: 0.0625rem solid #008;
    outline-offset: -0.25rem;
  }

  &:active {
    background-color: #eee;
    border-color: #555;
    color: #000;
  }
}

.centerButton {
  @include button;
}

.zoom {
  --border-width: 0.125rem;
  display: flex;
  flex-direction: column;
  gap: var(--border-width);
  isolation: isolate;
  --button-index: 0;
  --focus-index: 1;
  padding: var(--border-width);
}

.in,
.out {
  @include button;
  margin: calc(-1 * var(--border-width));
  z-index: var(--button-index);

  &:focus {
    z-index: var(--focus-index);
  }
}
