.container {
  display: grid;
  grid-template:
    [full-start top-start]
    auto
    [top-end center-start]
    1fr
    [center-end bottom-start]
    auto
    [bottom-end full-end]
    / [full-start left-start] auto [left-end center-start] 1fr [center-end right-start] auto [right-end full-end];
  height: 100%;
  isolation: isolate;
  --canvas-index: 1;
  --controls-index: 2;
}

.header {
  grid-area: top / left;
  padding: 1rem;
}

.canvas {
  grid-area: full;
  display: block;
  height: 100%;
  touch-action: none;
  width: 100%;
  z-index: var(--canvas-index);

  &[data-status="dragging"],
  &[data-status="panning"] {
    cursor: grabbing;
  }
}

.controls {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: bottom / right;
  margin: 1rem;
  z-index: var(--controls-index);
}

.footer {
  align-self: end;
  grid-area: bottom / left;
  padding: 1rem;
}
